.rbc-calendar {
    font-family: Arial, sans-serif;
    color: #333;
}

.rbc-toolbar {
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
}


.rbc-toolbar .rbc-btn-group:nth-child(2) button:nth-child(3) {
    /* Add your styling here */
    background-color: blueviolet;
    color: #333;
  }
  