/* Firefox-specific styling */
.sidebar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}


.sidebar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #dc8585;
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #f30a0a;
}

.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow:hidden;
}

.ad-sidebar-scroll::-webkit-scrollbar {
  width: 6px; /* or height for horizontal scrollbars */
}

.ad-sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 8px;
}

.ad-sidebar-scroll::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}


/* ==================mui table ==========*/
.muiTableContainer::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  
}

.muiTableContainer::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Optional: track color */
}

.muiTableContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.6);
  border-radius: 4px;
}

.muiTableContainer {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.6) #f0f0f0;
}





/* react quill */
.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    z-index: 10;
}


