.categorySwiper .swiper-button-next,.categorySwiper .swiper-button-prev{
    width:30px !important;
    height:30px !important;
    border-radius: 0px !important;
}

.categorySwiper .swiper-button-next:after,.categorySwiper .swiper-button-prev:after{
    font-size: 10px !important;
}


.iiz__hint {
    bottom: 20px !important;
    pointer-events: none;
    right: 20px !important;
}

.verticalSwiper .swiper-button-next{
    bottom: 0px !important;
    top: auto !important;
    border-radius: 0px !important;
    width: 100% !important;
    height: 22px !important;
    opacity: 0.5 !important;
    left: 0px !important; 
}

.verticalSwiper .swiper-button-prev:hover{
    transform: scale(105%);
    opacity: 0.9 !important;
}
.verticalSwiper .swiper-button-next:hover{
    transform: scale(105%);
    opacity: 0.9 !important;
    background-color: rgb(108, 105, 105) !important;
}
.verticalSwiper .swiper-button-prev{
    bottom: auto !important;
    border-radius: 0px !important;
    width: 100% !important;
    opacity: 0.5 !important;
    height: 22px !important;
    top: 20px !important;
    left: 0px !important;
}
.verticalSwiper .swiper-button-next::after, .verticalSwiper .swiper-button-prev::after{
    font-size: 10px !important;
    transform: rotate(90deg) !important;
    color: #de0e0e !important;
}

.verticalSwiper .swiper-button-prev.swiper-button-disabled, .verticalSwiper .swiper-button-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: auto;
}


.sliderMini .swiper-slide-active .info {
    opacity : 1 !important;
    /* transform: translate(0px);
    transition-duration: 0.3s; */
    right: 0px !important
}

/* .myswiper1 {
    overflow-x :auto !important;
}

.swiper-wrapper {
    width: 105% !important;
} */

.mainSwiper {
    overflow:inherit !important;
}




