.sliderMini .swiper-slide-active .info { right: 0px !important; opacity:1 }
.sliderMini .swiper-slide-active .info h3{ right: 0px !important; opacity:1}
.sliderMini .swiper-slide-active .info h1{ right: 0px !important; opacity:1 }
.sliderMini .swiper-slide-active .info div{ right: 0px !important; opacity:1 }
.sliderMini .swiper-slide-active .info button{ right: 0px !important; opacity:1 }


.sliderMini .swiper-slide-active .info h3{ transition-duration: 1.2s; }
.sliderMini .swiper-slide-active .info h1{ transition-duration: 1.5s; }
.sliderMini .swiper-slide-active .info div{ transition-duration: 1.8s; }
.sliderMini .swiper-slide-active .info button{ transition-duration: 2.1s; }